numpy>=2.2.4
openpyxl>=3.1.5
pandas>=2.2.3
plotly>=6.0.1
prophet>=1.1.6
scikit-learn>=1.6.1
sqlalchemy>=2.0.39
statsmodels>=0.14.4
streamlit-extras>=0.6.0
streamlit>=1.43.2
tensorflow-cpu>=2.15.0
xlsxwriter>=3.2.2
streamlit-card>=1.0.2
watchdog>=6.0.0
psycopg2-binary>=2.9.10
extra-streamlit-components>=0.1.71
st-gsheets-connection>=0.1.0
altair>=5.5.0
gunicorn>=21.2.0